@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Spartan";
  font-family: "Rajdhani", sans-serif;
  font-family: "Aldrich", sans-serif;
  font-family: "Orbitron", sans-serif;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1340px;
  padding: 0 25px;
  width: 100%;
  margin: 0 auto;
}

.pages {
  background: url("../images/pages-bgc.png") no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 100px;
}

header {
  width: 100%;
  z-index: 50;
  transition: 0.5s;
  height: 60px;
  top: 0;
}

.header {
  display: flex;
  padding-top: 40px;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}
.header__logo p span {
  color: #FFFFFF;
}
.header__content {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
  margin-left: 100px;
}
.header__content nav .nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__content nav .nav li:nth-child(2) {
  margin: 0 50px;
}
.header__content nav .nav li a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}
.header__content nav .nav li a:hover {
  color: rgb(255, 255, 255);
}
.header__content-link {
  display: flex;
  align-items: center;
}
.header__content-link a:nth-child(1) {
  margin: 0 20px;
}
.header__content-link a img {
  transition: 0.3s;
}
.header__content-link a img:nth-child(2) {
  vertical-align: middle;
}
.header__content-link a img:hover {
  width: 125%;
}
.header .burger {
  display: none;
  cursor: pointer;
}
.header .burger .humb {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 6px 0px;
  transition: 0.3s;
}
.header .burger.active .humb:nth-child(2) {
  opacity: 0;
}
.header .burger.active .humb:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .burger.active .humb:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

main {
  margin-top: 100px;
}

.content {
  display: grid;
  min-width: 200px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4fr 1fr 10px;
}
.content__left {
  grid-column: 1/2;
}
.content__left-title {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 137.4%;
  /* or 91px */
  color: #FFFFFF;
}
.content__left-title span {
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.content__left-text {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 26.531px;
  line-height: 44px;
  /* or 167% */
  color: #FFFFFF;
  max-width: 660px;
  margin-top: 20px;
  margin-right: 0;
}
.content__left-btn {
  margin-top: 40px;
  max-width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__left-btn button {
  cursor: pointer;
  background: url("../images/icons/btn-left.svg") no-repeat;
  width: 250px;
  border: 0;
  height: 67px;
  background-size: cover;
  text-align: start;
  padding-left: 40px;
}
.content__left-btn button .span-text {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: #FFFFFF;
  display: block;
  position: relative;
}
.content__left-btn button .span-text::after {
  content: "→";
  position: absolute;
  font-size: 40px;
  top: -3px;
  right: 40px;
}
.content__left-btn button:hover {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.content__left-btn a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  transition: 0.5s;
}
.content__left-btn a:hover {
  background: linear-gradient(89.89deg, #42e378 2.33%, #7b56ff 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.content__left-info {
  display: flex;
  max-width: 500px;
  margin-top: 80px;
  justify-content: space-between;
}
.content__left-info .sered {
  border-left: 1.10546px solid rgba(255, 255, 255, 0.26);
  border-right: 1.10546px solid rgba(255, 255, 255, 0.26);
  padding: 0 30px;
}
.content__left-info .info-one p {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 53px;
  color: #FFFFFF;
}
.content__left-info .info-one span {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 22px;
  color: #FFFFFF;
}
.content__right {
  grid-column: 2/3;
}
.content__right img {
  width: 100%;
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */