@charset "UTF-8";
body {
  font-family: "Spartan";
  font-family: "Rajdhani", sans-serif;
  font-family: "Aldrich", sans-serif;
  font-family: "Orbitron", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1450px;
  padding: 0 25px;
  margin: 0 auto;
}

.pages {
  background: url("../image/background.png") no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 40px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header__top-logo .logo-link {
  display: flex;
}
.header__top-logo .logo-link .logo-img {
  vertical-align: middle;
}
.header__top-logo .logo-link .logo-text {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}
.header__top-logo .logo-link .logo-text span {
  color: white;
}
.header__top-nav {
  height: inherit;
  display: flex;
  align-items: center;
}
.header__top-nav-ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
}
.header__top-nav-ul li .nav-link {
  align-items: center;
  display: block;
  padding: 0 60px 0;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}
.header__top-nav-ul li .start {
  padding: 0px 0px 0px;
}
.header__top-nav-ul li .end {
  padding: 0;
}
.header__top-links {
  display: flex;
  align-items: center;
}
.header__top-links .links-start {
  margin-right: 40px;
}

.header__content {
  display: flex;
  margin-top: 100px;
}
.header__content-text {
  width: 60%;
  padding-bottom: 50px;
}
.header__content-text-title {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 137.4%;
  /* or 91px */
  color: #FFFFFF;
}
.header__content-text-title span {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 137.4%;
  /* or 91px */
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__content-text p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 26.531px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 20px;
  max-width: 650px;
}
.header__content-links {
  display: flex;
  margin-top: 40px;
}
.header__content-links button {
  background: url("../image/icons/bgc-btn.png") no-repeat;
  background-position: center;
  background-size: contain;
  height: 65px;
  border: 0;
  width: 260px;
  cursor: pointer;
  transition: 0.5s;
}
.header__content-links .btn-link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: #FFFFFF;
  width: inherit;
  height: inherit;
  display: block;
  height: 101%;
  width: 101%;
  padding: 15px 0 0;
  transition: 0.5s;
}
.header__content-links .btn-link::after {
  content: "→";
  margin-left: 10px;
  font-size: 30px;
}
.header__content-links button:hover {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.header__content-links .btn-link:hover {
  transform: rotateY(180deg);
}
.header__content-links .link-header {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 40px;
  margin-top: 20px;
  transition: 0.5s;
}
.header__content-links .link-header:hover {
  background: linear-gradient(300deg, #42A6E3 2.33%, #FF56F6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__content-numbers {
  margin-top: 60px;
  display: flex;
}
.header__content-numbers .centes {
  border-left: 1px solid rgba(255, 255, 255, 0.26);
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  padding: 0 25px;
}
.header__content-numbers .centes p {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 53px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
  margin-top: 0;
}
.header__content-numbers .centes span {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 22px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
}
.header__content-numbers .numbers-1 {
  margin-right: 20px;
}
.header__content-numbers .numbers-1 p {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 53px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
  margin-top: 0;
}
.header__content-numbers .numbers-1 span {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 22px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
}
.header__content-numbers .numbers-3 {
  margin-left: 20px;
}
.header__content-numbers .numbers-3 p {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 39.7965px;
  line-height: 53px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
  margin-top: 0;
}
.header__content-numbers .numbers-3 span {
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 22px;
  letter-spacing: 0.221092px;
  color: #FFFFFF;
}
.header__content-photo {
  height: 50%;
  position: relative;
  margin-left: 40px;
}
.header__content-photo .card {
  position: absolute;
  bottom: -80px;
  right: -100px;
  background: url("../image/backCARD.png") no-repeat;
  background-size: cover;
  padding: 27px 27px 18px 35px;
}
.header__content-photo .card .obl-card {
  display: flex;
  justify-content: space-between;
}
.header__content-photo .card .obl-card .info-card {
  margin-right: 20px;
}
.header__content-photo .card .obl-card .info-card h3 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 17.6873px;
  line-height: 35px;
  color: #FFFFFF;
}
.header__content-photo .card .obl-card .info-card .card-user {
  display: flex;
  align-items: center;
}
.header__content-photo .card .obl-card .info-card .card-user p {
  margin: 0 10px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 15.4764px;
  line-height: 35px;
  color: #FFFFFF;
}
.header__content-photo .card .obl-card .info-card p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 20px;
}
.header__content-photo .card .obl-card .info-card .info-card-eth {
  display: flex;
  align-items: center;
}
.header__content-photo .card .obl-card .info-card .info-card-eth p {
  margin: 0;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 9.71776px;
  color: #FFFFFF;
  margin: 0 10px 0px 5px;
}
.header__content-photo .card .obl-card .info-card .info-card-eth .summ-card {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 11.0546px;
  line-height: 35px;
  color: #FFFFFF;
  opacity: 0.7;
}
.header__content-photo .card .obl-card .card-summ p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  line-height: 35px;
  color: #FFFFFF;
}
.header__content-photo .card .obl-card .card-summ .center-card {
  margin: 0 20px;
}
.header__content-photo .card .obl-card .card-summ .card-time {
  display: flex;
}
.header__content-photo .card .obl-card .card-summ .card-time .time-sum p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  line-height: 35px;
  color: #FFFFFF;
  height: 20px;
}
.header__content-photo .card .obl-card .card-summ .card-time .time-sum span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 11.0546px;
  line-height: 35px;
  margin-top: -50px;
  color: #FFFFFF;
}
.header__content-photo .card .obl-card .card-summ button {
  background: url("../image/icons/bgc-btn.svg") no-repeat;
  background-size: cover;
  border: 0;
  width: 145px;
  height: 49px;
  padding: 0;
  margin-top: 20px;
  cursor: pointer;
}
.header__content-photo .card .obl-card .card-summ button:hover {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.header__content-photo .card .obl-card .card-summ .btn-span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  line-height: 23px;
  color: #FFFFFF;
  position: relative;
  display: block;
  height: 101%;
  width: 101%;
  margin-left: 0px;
  text-align: center;
  padding-top: 15px;
  padding-right: 40px;
}
.header__content-photo .card .obl-card .card-summ .btn-span::after {
  content: "→";
  margin-left: 10px;
  font-size: 25px;
  position: absolute;
  top: 14px;
}
.header__content-photo .card .obl-card .card-summ .btn-span:hover {
  transform: rotateY(180deg);
}

.burger {
  display: none;
  cursor: pointer;
}
.burger .humb {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s;
  background-color: white;
  border-radius: 2px;
}
.burger .humb:nth-child(2) {
  width: 15px;
  margin: 5px 0 0 auto;
}

.burger.active .humb:nth-child(2) {
  opacity: 0;
}

.burger.active .humb:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.active .humb:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}/*# sourceMappingURL=style.css.map */