@media(max-width: 1260px){
    .subscribe{
        flex-direction: column-reverse;
    }
    .subscribe__left{
        width: 100%;
       height: 300px;
    }
    .subscribe__right{
        width: 100%;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
@media(max-width: 1250px){
    .sellers__card .card-end{
        display: none;
    }
    .sellers__card .card{
        width: 45%;
    }
}

@media(max-width: 1200px){
    .main{
        margin-top: 20px;
    }
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 700px 200px 1fr;
        max-width: 100%;

    }
    .content__left{
        grid-row: 1/2;
    }
    .content__bottom{
       grid-row: 2/3;
    }
    .content__right{
        grid-column: 1/2;
        grid-row: 3/4;
      
    }
    .content__right .card {
        /* width: 100%; */
        right: 0;
        left: 0;
        bottom: 0;
       margin: 0 auto;
    }
}

@media(max-width: 900px){
    .accordeon{
        flex-direction: column;
        flex-basis: 100%;
        border: 0;
    }
    .accordeon__link{
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
    }
    .accordeon__link-place{
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
        /* padding-bottom: 5px; */
        transition: 0.5s;
    }
    .accordeon__link-place .input-link{
        display: inline;
        appearance: none;
    }
     .link-place{
        display: none;
        transition: 0.5s;
    }
    .input-link:checked + .link-place{
        display: block;
        transition: 0.5s;
    }
    .accordeon__link-place .images-strelka {
        display: inline;
    }
    .accordeon__link-place .place-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media(max-width: 920px){
    .sellers__card .card-end-last{
        display: none;
    }
    .sellers__card .card{
        width: 100%;
    }
    .sellers__btn .sellers__btn-desktop{
        display: none;
    }
    .sellers__btn .sellers__btn-mobile{
        display: block;
    }
}


@media(max-width: 932px){
    .buttin{
        flex-direction: column;
    }
    .buttin .buttin__left{
        width: 100%;
        margin-top: 0;
    }
    .buttin .buttin__left .button-tab{
        width: 45%;
    }
    .buttin .buttin__right{
        width: 100%;
        min-height: 100%;
    }
    .buttonn .buttin__right .buttin__right-img{
        height: 300px;
        
    }
    .buttonn .buttin__left .buttin-link a{
        
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 8.24417px;
        line-height: 10px;
    }
    .buttonn .buttin__left .buttin-link a::after{
        font-size: 20px;
        margin-top: 5px;
        padding-left: 10px;
    }
    .people{
        margin-top: 20px;
    }
}
@media(max-width:800px){
 
    .header__content{
        position: absolute;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        top: 75px;
        width: 100%;
        height: 100vh;
       left: -100%;
       margin: 0;
       transition: 0.3s;
    }
    .header__content nav .nav{
        flex-direction: column;
    }
    .header{
        flex-basis: 100%;
        justify-content: space-between;
    }
    .header .burger{
        display: block;
    }
    .header__content.active{
        left: 0;
        background: url('../../images/pages-bgc.png') no-repeat;
        background-position: top center;
        background-size: cover;
        transition: 0.3s;
        z-index: 60;
    }
    .header__content nav .nav li a{
        margin: 20px 0px;
    }
    .header__content-link{
        flex-direction: column;
        padding-top: 20px;
    }
    .header__content-link a{
        margin: 20px 0;
    }
   
}

@media(max-width: 722px){
    .footer{
        flex-direction: column-reverse;
       
    }
    .end-footer{
        display: none;
    }
    .footer__link{
        margin-bottom: 10px;
    }
    .link-footer::after,
    .link-footer::before{
       display: none;
    }
}
@media(max-width: 768px){
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 500px 200px 1fr;
        max-width: 100%;

    }
    .content__left-title{
        font-family: "Spartan", sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 137.4%;
        /* or 58px */


        color: #FFFFFF;
    }
    .content__left-text{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        /* or 166% */


        color: #FFFFFF;

    }
    /* .content__left-btn {
        width: 100%;
        align-items: center;
    }
    .content__left-btn button{
       
        background-size: contain;
        width: 150px;
        height: 40px;
        padding-left: 20px;
        
    } */
    /* .content__left-btn button .span-text{
        
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* margin-bottom: 22px; */
        /* color: #FFFFFF; */
    /* } */
    /* .content__left-btn button .span-text::after{
        right: 20px;
        font-size: 25px;
    } */ */
    .content__left-btn a {
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

    }
    .content__left-info {
        width: 100%;
    }
    .content__left-info .sered{
        border: 0;
    }
    .content__left-info .info-one p{
        font-family: 'Aldrich';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    .content__left-info .info-one span{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.6);
    }
    .content__bottom .content__bottom-link{
        padding-top: 0;
    }
    .content__bottom .content__bottom-link a{
        width: 50%;
    }
    .content__bottom .content__bottom-link img{
        width: 70%;
    }
    .content__bottom .content__bottom-link .img-right{
        text-align: right;
    }
    .nft__text .nft__text-link{
        display: none;
    }
    
    .nft{
        padding-right: 0;
    }
    .nft__text-title{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .buttonn .buttin__left-title {
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;
    }
    .nft-button span,
    .sellers__btn .sellers__btn-mobile span{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

        color: #FFFFFF;
    }
    .nft-button span::after,
    .sellers__btn .sellers__btn-mobile span::after{
        font-size: 30px;
        right: 40px;
    }
    .accordeon__info-link{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 19.8983px;
        line-height: 25px;

        color: #FFFFFF;
    }
    .accordeon__info-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15.4764px;
        line-height: 27px;
        /* or 171% */

        font-feature-settings: 'salt' on, 'liga' off;

        /* Text / Gray 300 */

        color: #D9DBE1;
    }
    .accordeon__link-place .place-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 19.8983px;
        line-height: 31px;
        margin-top: 10px;
    }
    .footer__link{
        justify-content: space-between;
    }

}

@media(max-width:768px){
    .what{
        height: 378px;
    }
    .what__content{
        justify-content: center;
    }
    .what__content-box{
        margin-top: 120px;
        max-width: 335px;
        padding: 30px 27px 30px 40px;
    }
    .what__content-box .box-title{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 25.87px;
        line-height: 35px;
        /* identical to box height, or 135% */

        font-feature-settings: 'salt' on, 'liga' off;

    }
    .what__content-box .box-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11.6415px;
        line-height: 21px;
        /* or 178% */

        font-feature-settings: 'salt' on, 'liga' off;

    }
    .what__content-box .box-video a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10.348px;
        line-height: 16px;
    }
}
@media(max-width:768px){
    .subscribe__right-title {
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 26.2703px;
        line-height: 33px;
    }
    .subscribe__right-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13.1351px;
        line-height: 23px;
    }
    .subscribe__right-form{
        margin-top: 30px;
    }
    .subscribe__right-form input{
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 10.2162px;
        line-height: 18px;
        padding: 9px 12px;
    }
    .subscribe__right-form button span{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 10.2162px;
        line-height: 15px;
    }
    .sub{
        margin-top: 100px;
    }
}

@media(max-width: 621px){
    /* .nft .swiper-container .swiper-wrapper .swiper-slide .img-big{
        max-width: 303px;
    }
    .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card{
        max-width: 303px;
    } */
    .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr{
        padding: 25px 25px 18px 20px;
    }
    .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-left-title{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 13.6006px;
        line-height: 27px;
    }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-left .card-user a {
            font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 600;
            font-size: 11.9006px;
            line-height: 27px;
            margin: 0;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-left .card-ovr-left-text{
                    
            font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 600;
            font-size: 8.5004px;
            line-height: 27px;
            margin-top: 10px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-left .card-ovr-left-nft p{
            font-family: 'Orbitron';
            font-style: normal;
            font-weight: 700;
            font-size: 7.47244px;
            line-height: 9px;
    
            color: #FFFFFF;
            margin: 0 3px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-left .card-ovr-left-nft span{
                    font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 400;
            font-size: 8.5004px;
            line-height: 27px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-right .card-ovr-right-title{
            font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 600;
            font-size: 8.5004px;
            line-height: 27px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-right .card-ovr-right-time .sered-time{
            margin: 0 10px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-right .card-ovr-right-time .time-card p{
            
            font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 600;
            font-size: 13.6006px;
            line-height: 27px;
        }
        .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-right .card-ovr-right-time .time-card span{
            font-family: 'Rajdhani';
            font-style: normal;
            font-weight: 500;
            font-size: 8.5004px;
            line-height: 27px;
        }
        .nft-button {
            display: block;
        
    }
}
@media(max-width: 542px){
    .people{
        padding-right: 0;
    }
    .people__text-title{
        
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    font-size: 18.0606px;
    line-height: 23px;
    }
    .people__text-link{
        display: none;
    }
    /* .people .swiper2 .swiper-wrapper .swiper-slide{
        width: 303px;
    } */
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-obert{
        /* width: 303px; */
        height: 200px;
        padding: 0;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info .slide-photo{
        width: 112px;
        margin: 0;
        margin-left: -56px;
        top: 0;
        top: -60px;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info{
        /* width: 303px; */
        padding-top: 60px;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info .slide-info-title{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 16.8391px;
        line-height: 32px;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info .link-swipers a{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 400;
        font-size: 13.9587px;
        line-height: 32px;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info .sliders-info .sliders-info-text p{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 600;
        font-size: 21.9417px;
        line-height: 44px;
    }
    .people .swiper2 .swiper-wrapper .swiper-slide .slide-info .sliders-info .sliders-info-text span{
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 13.7136px;
        line-height: 44px;
    }

}

@media(max-width:500px){
    .content__left-title .span-one{
        display: block;
    }
}
@media(max-width: 500px){
    .sellers__card .card .card-number{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13.8072px;
        line-height: 32px;
    }
    .sellers__card .card .card-info .card-info-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13.8072px;
        line-height: 32px;
    }
    .sellers__card .card .card-info .card-info-car span{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 9.97186px;
        line-height: 32px;
    }
    .sellers__card .card .card-percent{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 10.6564px;
        /* line-height: 34px; */
    }
    .sellers__card .card .card-info{
        margin: 0;
    }
    .sellers__text-title{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 19.2314px;
        line-height: 24px;
    }
    .sellers__text-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140.19%;
    }
}


@media(max-width: 524px){
    .buttin .buttin__left .button-tab{
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 10.9922px;
        line-height: 14px;
        text-align: center;
        padding: 13px 0;
    }
}

@media(max-width: 432px){
    .content__left-btn .hexagon_btn span{
        padding: 10px 80px 10px 20px;
                font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

        color: #FFFFFF;
    }
    .content__left-btn .hexagon_btn span::after{
        top: 8px;
        font-size: 25px;
        right: 30px;
    }
    .content__left-btn a{
        
        font-family: 'Orbitron';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
}
@media(max-width: 432px){
    .subscribe__left{
        height: 380px;
        background-position: center;
    }
}

@media(max-width: 415px){
    .nft .swiper-container .swiper-wrapper .swiper-slide .slide-card .card-ovr-right .card-ovt-right-btn span{
        padding: 7px 30px 7px 5px;
        font-weight: 600;
font-size: 13.6006px;
line-height: 17px;
    }
}


@media(max-width:400px){

    .content__right .card {
        width: 100%;
        max-width: 374px;
        right: 0;
        left: 0;
        bottom: -80px;
       margin: 0 auto;
    }
    .content__right .card .card-content{
        padding-right: 0;
        width: 100%;
        max-width: 374px;
        justify-content: flex-start;
        flex-basis: 0;
    }
    .content__right .card .card-content .card-content-right {
        margin-left: 40px;
    }
    .content__right .content__right-bgc{
        width: 100%;
    }
   
}